{% extends 'base.html' %}

{% block titulo %}Registro{% endblock titulo %}

{%block class-a-inicio%}{%endblock class-a-inicio%}{%block a-href-inicio%}{% url 'inicio' %}{%endblock a-href-inicio%}

{%block class-a-posteos%}{%endblock class-a-posteos%}{%block a-href-posteos%}{% url 'postear' %}{%endblock a-href-posteos%}

{%block class-a-nosotros%}{%endblock class-a-nosotros%}{%block a-href-nosotros%}{% url 'nosotros' %}{%endblock a-href-nosotros%}

{%block class-a-contacto%}{%endblock class-a-contacto%}{%block a-href-contacto%}{% url 'contacto' %}{%endblock a-href-contacto%}

{% block body %}

{% block boton-login %}{% endblock boton-login %}

<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card">
                <h3 class="card-header">Nuevo usuario</h3>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                            {# <!-- <a href="{% url 'registrar' %}"><button class="btn btn-primary" type="button">Registrarse</button></a> --> #}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block enlaces %}{% endblock enlaces %}