<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}TITUTLO{% endblock titulo %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/styles.css">

    {# Cargamos la librería #}
	{% load bootstrap4 %}
 
	{# CSS Bootstrap #}
	{% bootstrap_css %}

</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% block nav %}
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">tuBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link {%block class-a-inicio%}active{%endblock class-a-inicio%}" aria-current="page" href="{%block a-href-inicio%}{%endblock a-href-inicio%}">Inicio</a>
                </li>
                {%block btn-nosotros%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{% url 'noticias' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Noticias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Deportes</a>
                    <a class="dropdown-item" href="#">Política</a>
                    <a class="dropdown-item" href="#">Tecnología</a>
                  </div>
                </li>
                {%endblock btn-nosotros%}
                <li class="nav-item">
                  <a class="nav-link {%block class-a-posteos%}{%endblock class-a-posteos%}" href="{% url 'posteos' %}">Posteos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {%block class-a-nosotros%}{%endblock class-a-nosotros%}" href="{%block a-href-nosotros%}{% url 'nosotros' %}{%endblock a-href-nosotros%}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%block class-a-contacto%}{%endblock class-a-contacto%}" href="{%block a-href-contacto%}{% url 'contacto' %}{%endblock a-href-contacto%}">Contacto</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#ventanaLogin">
                        Inicar sesión
                    </button>
                  </li>
              </ul>
            </div>
          </div>
        {% endblock nav %}
    </nav>

    <div id="ventanaLogin" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Inicio de sesión</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Correo</label>
                      <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Recordar mi correo</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a class="btn btn-primary" href="{% url 'registrar' %}">Registrarse</a>
                </form>
            </div>

          </div>
        </div>
    </div>


    <!-- Encabezado -->
    <header>

    </header>


    <!-- Cuerpo principal -->
    {% block body %}
                
    {% endblock body %}


    <!-- Pié de página -->
    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Posteos</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
                <!-- 
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                --> 
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2021 tublog.com</p>
                </div>
           </div>
        </div>
    </footer>

    {# JS y jQuery Bootstrap #}
	{% bootstrap_javascript jquery='full' %}
</body>
</html>