<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}TITUTLO{% endblock titulo %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/styles.css">

    {# Cargamos la librería #}
	{% load bootstrap4 %}
 
	{# CSS Bootstrap #}
	{% bootstrap_css %}

</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        {% block nav %}

        {% endblock nav %}
    </nav>


    <!-- Encabezado -->
    <header>

    </header>


    <!-- Cuerpo principal -->
    {% block body %}

    {# Aquí va el cuerpo de la página en cuestión #}

    {% endblock body %}


    <!-- Pié de página -->
    <footer>

    </footer>

    {# JS y jQuery Bootstrap #}
	{% bootstrap_javascript jquery='full' %}
</body>
</html>