{% extends 'base.html' %}

{% block titulo %}Contacto{% endblock titulo %}

{%block class-a-inicio%}{%endblock class-a-inicio%}{%block a-href-inicio%}{% url 'inicio' %}{%endblock a-href-inicio%}

{%block class-a-posteos%}{%endblock class-a-posteos%}{%block a-href-posteos%}{% url 'postear' %}{%endblock a-href-posteos%}

{%block class-a-nosotros%}{%endblock class-a-nosotros%}{%block a-href-nosotros%}{% url 'nosotros' %}{%endblock a-href-nosotros%}

{%block class-a-contacto%}active{%endblock class-a-contacto%}{%block a-href-contacto%}{%endblock a-href-contacto%}

{%block btn-nosotros%}{%endblock btn-nosotros%}


{% block body %}

<style> 
        body {
        background-color:rgba(137, 43, 226, 0.452)
        }
</style>

<h1>CONTACTO</h1>

<div class="container-fluid">

   
    <form method="POST">
        {% csrf_token %}

        <table>
            {{ formulario.as_table }}
        </table>

        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</div>


  

  
{% endblock body %}