{% extends 'base.html' %}

{% block titulo %}Nosotros{% endblock titulo %}

{%block class-a-inicio%}{%endblock class-a-inicio%}{%block a-href-inicio%}{% url 'inicio' %}{%endblock a-href-inicio%}

{%block class-a-posteos%}{%endblock class-a-posteos%}{%block a-href-posteos%}{% url 'postear' %}{%endblock a-href-posteos%}

{%block class-a-nosotros%}active{%endblock class-a-nosotros%}{%block a-href-nosotros%}{%endblock a-href-nosotros%}

{%block class-a-contacto%}{%endblock class-a-contacto%}{%block a-href-contacto%}{% url 'contacto' %}{%endblock a-href-contacto%}

{%block btn-nosotros%}{%endblock btn-nosotros%}


{% block body %}

<style> 
    body {
    background-color:rgba(43, 226, 150, 0.452)
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Sobre nosotros</h1>
      <p class="lead">Aquí encontrará toda la información que necesite.</p>
    </div>
</div>
<div class="container">
    <h3>Autores</h3>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="https://sm.ign.com/t/ign_latam/screenshot/default/vegeta-anos-tiene_rgb2.1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alan A. Zanazzo Marangoni</h5>
                  <p class="card-text">Estudiante de ingeniería en sistemas en UTN Facultad Regional Resistencia, técnico en computación y amante de la tecnología.</p>
                  <a href="https://www.facebook.com/alan.zanazzo"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="https://static.t13.cl/images/original/2019/05/1557689182-goku.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Claudio G. Marangoni</h5>
                  <p class="card-text">Estudiante de analista de sistemas en Instituto Superior Santo Domingo Córdoba, personal del Servicio Penitenciario Provincial (Chaco), apasionado por el fútbol.</p>
                  <a href="https://www.facebook.com/profile.php?id=100009517389410"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}