{% extends 'base.html' %}

{% block titulo %}Nosotros{% endblock titulo %}

{%block class-a-inicio%}{%endblock class-a-inicio%}{%block a-href-inicio%}{% url 'inicio' %}{%endblock a-href-inicio%}

{%block class-a-posteos%}{%endblock class-a-posteos%}{%block a-href-posteos%}{% url 'posteos' %}{%endblock a-href-posteos%}

{%block class-a-nosotros%}active{%endblock class-a-nosotros%}{%block a-href-nosotros%}{%endblock a-href-nosotros%}

{%block class-a-contacto%}{%endblock class-a-contacto%}{%block a-href-contacto%}{% url 'contacto' %}{%endblock a-href-contacto%}

{%block btn-nosotros%}{%endblock btn-nosotros%}


{% block body %}

<h1>Página sobre nosotros</h1>

{% endblock body %}