{% extends 'base.html' %}

{% block titulo %}Registrar{% endblock titulo %}

{%block class-a-inicio%}{%endblock class-a-inicio%}{%block a-href-inicio%}{% url 'inicio' %}{%endblock a-href-inicio%}


{% block body %}
<div class="container">
    <h3>Registro</h3>
    <div class="row justify-content-center">
        <div class="col-sm">
                <div class="card card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ formulario.as_p }}
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock body %}